{% extends 'bases/myBase.html' %}

{% block content %}
    
<section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate text-center mb-4">
            <h1 class="mb-2 bread">Blog</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
        </div>
        </div>
    </div>
    </section>
            
        <section class="ftco-section bg-light">
            <div class="container">
                <div class="row">
                    
                    {% for article in articles %}
                        <div class="col-md-4 ftco-animate">
                            <div class="blog-entry">
                            <a href="{% url 'blog:article' article.id %}" class="block-20" style="background-image: url('{{ article.image.url }}');">
                            </a>
                            <div class="text pt-3 pb-4 px-4">
                                <div class="meta">
                                <div><a href="#">{{ article.date_add|date:'M. d, Y' }}</a></div>
                                <div><a href="#">{{ article.author.user.last_name }} {{ article.author.user.first_name }}</a></div>
                                </div>
                                <h3 class="heading"><a href="{% url 'blog:article' article.id %}">{{ article.titre }}</a></h3>
                                <p class="clearfix">
                                <a href="{% url 'blog:article' article.id %}" class="float-left read">Read more</a>
                                <a href="{% url 'blog:article' article.id %}#comment-list" class="float-right meta-chat"><span class="icon-chat"></span> {{ article.article_comment.all.count }}</a>
                                </p>
                            </div>
                            </div>
                        </div>
                    {% endfor %}
                        
                    
                </div>
                <div class="row no-gutters my-5">
                <div class="col text-center">
                    <div class="block-27">
                    <ul>
                        {% if articles.has_previous %}
                        <li><a href="?page={{ articles.previous_page_number }}">&lt;</a></li>
                        {% endif %}
                        <li class="active"><span>{{ articles.number }}</span></li>
                        {% if articles.has_next %}
                            <li><a href="?page={{ articles.next_page_number }}">&gt;</a></li>
                        {% endif %}
                    </ul>
                    </div>
                </div>
                </div>
            </div>
        </section>

{% endblock %}